.eingabeBenutzerTextUndButton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40%;
    row-gap: 10%;
}

.eingabeBenutzerNurText {
    display: flex;
    justify-content: center;
    align-items: row;
    flex-direction: row;
    height: 20%;
    gap: 5%;
}

.wichtigeAusgabe {
    font-weight: bold;
    background-color: blueviolet;
    padding: 0.75vh 0.75vw;
    border-radius: 1vw;
}